Testing.csv
__pycache__/ReadWriteCSV.cpython-310.pyc
__pycache__/WebScrape.cpython-310.pyc
./vscode/*
./vs/*
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/TBD-CEN-Project/v16/.suo
